.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px 30px;
    overflow: scroll;
    max-height: inherit;
    box-sizing: border-box;
}

.title {

}

.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}